:root {
  --bg-colour: #D5D6D2;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-colour);
  font-family: 'Open Sans', sans-serif;
}

#unitcontainer {
  background-color: #324851;
  display: grid;
  width: 100%;
  height: 4em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "head head head head"

}

  #unitcontainer > .logo {
    grid-area: head;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #unitcontainer > #signin {
    grid-area: head;
    grid-column: 4;
    margin: auto;
  }

  #unitcontainer > #signout {
    grid-area: head;
    grid-column: 4;
    margin: auto;
    color: white;
    cursor: pointer;
  }

.toolbar {
  grid-area: toolbar;
  display: block;
}

.toolbar > button {
  cursor: pointer;
  width: 100%;
  height: 50%;
  border: none;
  background-color: #324851;
  color: white;
  font-size: 1em;
}


.unitbox {
  transition: all 0.3s ease;
  display: block;
  width: auto;
}

.unitbox:hover {
  cursor: pointer;
  background-color: black;
}

.tablecontainer {
  display: grid;
  background-color: lightblue;
  width: 50em;
  margin: 1em auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "unit week toolbar"
}

#logo {
  height: 2em;
  width: 2em;
}

#unittable {
  display: block;
  text-align: center;
  width: 100%;
}

#unittable li {
  border: 1px solid black;
}

.unitlist {
  grid-area: unit;
  height: 10em;
  overflow-y: scroll;
}

#weektable {
  display: block;
  text-align: center;
  width: 100%;
}

#weektable li {
  border: 1px solid black;
}

.weeklist {
  grid-area: week;
  height: 10em;
  overflow-y: scroll;
}

.addUnit {
  grid-area: toolbar;
  display: none;
  background-color: #FF8D3F;
}

.addWeek {
  grid-area: toolbar;
  display: none;
  background-color: #FF8D3F;
}

#adderror {
  color: red;
}

.none {
  display: none;
}

.show {
  display: block;
}
